.resizeimage img {
  width: 100%;
}

body {
  background-color: #f2f4ed;
}

.content {
  margin: 20px 10% 20px 10%;
}

.section-title {
  color: #58555b;
  padding-left: 10px;
  margin-left: 0px;
  margin-bottom: 20px;
  margin-top: 30px;
  height: 50px;
  width: 300px;
  font-size: 36px;
  z-index: 3;
}

.my-profile-content {
  display: flex;
  align-items: center;
  border-radius: 30px;
  background-color: #fff;
  padding: 15px 0px 15px 10px;
}

.pro-content-img {
  padding-left: 5rem;
  padding-right: 0rem;
  margin-right: -15%;
}

.pro-content-img img {
  width: 70%;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

p {
  margin: 0 23px;
  height: inherit;
  line-height: 17px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.prof-detail {
  line-height: 40px;
  display: flex;
  flex-flow: column;
  align-content: space-around;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.live-title {
  color: #58555b;
  padding-left: 10px;
  margin-left: 0px;
  margin-bottom: 20px;
  margin-top: 30px;
  height: 50px;
  width: 300px;
  font-size: 36px;
  z-index: 3;
}

.live-content {
  display: flex;
  align-items: center;
  border-radius: 30px;
  background-color: #fff;
  padding: 15px 0px 15px 10px;
}

.live-pic {
  display: flex;
  padding-right: 0rem;
  margin-right: -15%;
  border-radius: 30px;
  align-items: center;
}

.live-pic img {
  width: 70%;
  border-radius: 50%;
  align-items: center;
  display: flex;
  padding-left: 0px;
}
.SNS {
  color: #58555b;
  padding-left: 10px;
  margin-left: 0px;
  margin-bottom: 20px;
  margin-top: 30px;
  height: 50px;
  width: 300px;
  font-size: 36px;
  z-index: 3;
  margin: 20px 10% 20px 10%;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #fff;
  margin: 20px 10% 20px 10%;
  padding: 0% 10rem 0% 10rem;
}

.bi-instagram {
  background-color: rgb(236, 114, 218);
  background: linear-gradient(rgb(234, 25, 182), rgb(205, 246, 82));
  color: rgb(218, 236, 236);
  border-radius: 1rem;
  width: 5rem;
  height: 5rem;
  margin: 2rem 2rem 2rem 2rem;
}

.bi-twitter {
  background-color: rgb(90, 157, 246);
  color: rgb(218, 236, 236);
  border-radius: 1rem;
  width: 5rem;
  height: 5rem;
  margin: 2rem 2rem 2rem 2rem;
}
